<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MagoWiki</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
</head>

<body>
    <header class="itens-header">
        <div>
            <div class="S-d">
                <img src="../static/logo.png" alt="Logo do site">
                <h1 class="logo">MAGOWIKI</h1>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <!-- Botão de Toggle -->
                    <button 
                        class="navbar-toggler" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#navbarNav" 
                        aria-controls="navbarNav" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            
                    <!-- Menu -->
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            {% if 'usuario' not in session %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('usuarios.login_usuario') }}">Entrar</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('usuarios.perfil') }}">Perfil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('favoritos.listar_favoritos') }}">Favoritos</a>
                            </li>
                            {% if session['usuario']['usuario_tipo'] == 'admin' %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('usuarios.mostrar_usuarios') }}">Todos os Usuários</a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('classes.listar_classe') }}">Classes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('usuarios.logout') }}">Sair</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

    </header>
    <main  class="main" style="display: flex; justify-content: center; ">
        <div  class="S-d" style="justify-content: center; padding: 0; flex-direction: column;">
            <h2 style="text-align: center;margin-bottom: 20px; display: flex; ">Seu perfil</h2>
            <h3>Foto de Perfil</h3>
            <img src="{{usuario.PFP}}" alt="" style="width: 200px; height: 200px; border-radius: 100%; margin-top: 10px; margin-bottom: 10px;">
            
            {% if 'usuario' in session %}
                <form action="{{url_for('usuarios.atualizar_perfil')}}" method="POST" style="display: flex; flex-direction: column;align-items: center;">
                    <div>
                        <label for="nome">Nome de usuario</label>
                        <input type="text" name="NOME" value="{{usuario.nome}}" id="nome" required class="inputs-self">
                    </div>
            
                    <div>
                        <label for="email">Email</label>
                        <input type="email" name="EMAIL" value="{{usuario.email}}" id="email" required class="inputs-self">
                    </div>
            
                    <div>
                        <label for="pfp">Foto de perfil</label>
                        <input type="text" name="PFP" value="{{usuario.pfp}}" id="pfp" class="inputs-self">
                    </div>
            
                    <button class="btn-entrar" type="submit">Atualizar informações</button>
                </form>
            {% else %}
                <p>!!<a href="{{url_for('usuarios.criar_usuario')}}">CRIE UMA CONTA</a> OU <a href="{{url_for('usuarios.login_usuario')}}">FAÇA LOGIN</a> PARA ENTRAR!!</p>
            {% endif %}
            
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>