<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login MagoWiki</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header class="itens-header">
        <div>
            <div class="S-d">
                <img src="../static/logo.png" alt="Logo do site">
                <h1 class="logo">MAGOWIKI</h1>
            </div>
            <nav  class="nav-links">
                {% if 'usuario' not in session %}
                <a href="{{ url_for('usuarios.login_usuario') }}" class="btn-entrar">Entrar</a>
                {% else %}
                <a href="{{ url_for('magias.listar_suas_magias') }}" class="btn-entrar">Minhas magias</a>
                <a href="{{ url_for('magias.criar_magia') }}" class="btn-entrar">Criar magia</a>
                <a href="#" class="btn-entrar">Todas as magias</a>
                {% if session['usuario']['usuario_tipo'] == 'admin' %}
                <a href="{{ url_for('sistemas.listar_sistema') }}" class="btn-entrar">Sistemas</a>
                <a href="{{ url_for('classes.listar_classe') }}" class="btn-entrar">Classes</a>
                {% endif %}
                <a href="{{ url_for('usuarios.logout') }}"  class="btn-entrar">Sair</a>
                {% endif %}
            </nav>
        </div>
    </header>
    <main class="main" style="display: flex; align-items: center;">
        <div class="table02">
            <h2>Login</h2>
            <form action="{{ url_for('usuarios.login_usuario') }}" method="post">
                <div>
                    <label>Email</label>
                    <input class="forms-inputs" type="text" name="EMAIL" required>
                </div>
                <div>
                    <label>Senha</label>
                    <input class="forms-inputs" type="password" name="SENHA" required>
                </div>
                <button type="submit"  class="btn-entrar">Entrar</button>
            </form>
            <a href="{{ url_for('usuarios.criar_usuario') }}"><button class="btn-entrar">Cadastre-se</button></a>
        </div>
    </main>
</body>

</html>